In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv(r"E:/Data Science/1/insurance.csv")

In [3]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [5]:
df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [6]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [7]:
df = df[["sex","smoker","region","age","bmi","children","charges"]]

In [8]:
df.head()

      sex smoker     region  age     bmi  children      charges
0  female    yes  southwest   19  27.900         0  16884.92400
1    male     no  southeast   18  33.770         1   1725.55230
2    male     no  southeast   28  33.000         3   4449.46200
3    male     no  northwest   33  22.705         0  21984.47061
4    male     no  northwest   32  28.880         0   3866.85520

In [9]:
x = df.drop("charges",axis=1)
y = df["charges"]

In [10]:
x

         sex smoker     region  age     bmi  children
0     female    yes  southwest   19  27.900         0
1       male     no  southeast   18  33.770         1
2       male     no  southeast   28  33.000         3
3       male     no  northwest   33  22.705         0
4       male     no  northwest   32  28.880         0
...      ...    ...        ...  ...     ...       ...
1333    male     no  northwest   50  30.970         3
1334  female     no  northeast   18  31.920         0
1335  female     no  southeast   18  36.850         0
1336  female     no  southwest   21  25.800         0
1337  female    yes  northwest   61  29.070         0

[1338 rows x 6 columns]

In [11]:
from sklearn.preprocessing import OneHotEncoder

In [12]:
one = OneHotEncoder(sparse=False,handle_unknown='ignore')

In [13]:
x_dup =pd.DataFrame(one.fit_transform(x.iloc[:,:3]),columns=one.get_feature_names_out())
x_dup

,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
2,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
3,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
4,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...
1333,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
1334,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1335,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1336,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1337,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [14]:
x.drop(columns=["sex","smoker","region"],inplace=True)

In [15]:
x

      age     bmi  children
0      19  27.900         0
1      18  33.770         1
2      28  33.000         3
3      33  22.705         0
4      32  28.880         0
...   ...     ...       ...
1333   50  30.970         3
1334   18  31.920         0
1335   18  36.850         0
1336   21  25.800         0
1337   61  29.070         0

[1338 rows x 3 columns]

In [16]:
x = pd.concat([x,x_dup],axis=1)
x

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,18,33.770,1,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
2,28,33.000,3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
3,33,22.705,0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
4,32,28.880,0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
1333,50,30.970,3,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
1334,18,31.920,0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1335,18,36.850,0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1336,21,25.800,0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1337,61,29.070,0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [17]:
import joblib

In [18]:
joblib.dump(one,"OneHotee.joblib")

['OneHotee.joblib']

In [19]:
from sklearn.ensemble import RandomForestRegressor

In [20]:
model = RandomForestRegressor()

In [21]:
from sklearn.model_selection import GridSearchCV

In [22]:
param_grid={
        "n_estimators":[100,500],
        "max_features":['auto','sqrt','log2'],
        "max_depth":[4,5,6,7,8],
         "criterion":['squared_error']   
}

In [23]:
grid_model = GridSearchCV(estimator=model,param_grid=param_grid,cv=5)

In [24]:
# grid_model.fit(x,y)

In [25]:
# grid_model.best_params_

In [26]:
regressor = RandomForestRegressor(n_estimators =100,max_features='auto',max_depth=8,criterion="squared_error")

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=32)

In [29]:
regressor.fit(x_train,y_train)

RandomForestRegressor(max_depth=8, max_features='auto')

In [30]:
regressor.score(x_train,y_train)

0.9545622568616117

In [31]:
regressor.score(x_test,y_test)

0.8500967230162468

In [32]:
pre = regressor.predict(x_test)

In [33]:
pre

array([17017.76272745, 16967.03344885,  5370.81488451, 13482.48102338,
       11283.3414918 ,  3142.50399594, 44510.19803875,  4548.02304081,
        6616.27172997, 10408.46426086,  3836.58323818,  3975.4130298 ,
       17880.06324199, 49969.14924018,  9901.94165339, 43337.21266737,
       12319.6057177 , 12053.00115571, 11451.36738355, 17449.79235337,
        6766.39843204, 14773.88691347, 15692.93493354,  6387.77827503,
       45197.70156697,  2647.00258537,  7556.17674689, 17046.92286874,
       10452.03432516, 20289.20726464,  2420.89219959,  7616.45746748,
        9381.22875943, 15670.72851606,  9953.13189031, 39941.62041376,
        7462.04139511,  5018.57690056, 25971.2810455 , 15108.60802603,
        9157.85667347,  1693.45266732, 12360.05579124,  2563.66477488,
        5683.68365773,  9074.3569954 ,  6726.53070261, 11308.89775567,
       15092.54869269, 35757.62578311, 16896.32185417, 45054.14601004,
        4722.00345255,  4327.59102308, 15678.04003701, 17833.0430953 ,
        2635.79080935,  9979.8098263 , 12538.55819587, 18039.95435471,
       39603.82964663,  4279.90050097,  3507.58281745,  1792.79414956,
       12601.84419667, 14143.74817128, 13038.10380144, 19225.60417573,
       18710.34601013,  2755.35612541, 12939.39806674,  6865.22754543,
       11133.38886333,  4150.6609196 ,  4466.25796001, 13141.11563605,
       20107.75323677, 11787.03769155, 23144.71851708, 16055.79045005,
        8187.84957385,  3810.79121141,  3243.47285467,  9831.68362252,
        2253.13816623,  7404.66184224, 12894.74739877, 12522.57349071,
        9634.65963384, 17879.58626222, 12643.62438658,  1854.29350634,
        6007.61215099,  2963.42276089, 16176.47734851, 11559.26937857,
       10590.23871712,  4614.56441289, 12174.90837663,  3906.26322204,
        6620.41800161, 39489.0133391 , 44516.52880062,  8250.45850824,
       12873.29046079,  8063.24103361,  7913.26453006,  7922.41405702,
       11441.82544868,  2741.01355959,  5267.54486361, 16600.32925412,
       22905.95226184, 13986.11750398,  8148.47564768, 15051.7915534 ,
       14481.2161096 ,  2428.92793257, 46895.36267286, 42380.28860098,
       39410.30511758,  7637.81663586, 11011.35880946,  7017.77735074,
       11283.95988798,  4085.71178694, 16152.27436291, 26462.0254819 ,
       46580.43998095,  6971.14010905, 17150.36833227, 12044.4809977 ,
        2450.64521834,  7468.60379108,  9289.89151222,  6720.00166375,
       12443.83484303,  6060.20241683,  7092.14641286,  3401.07777598,
        3442.61393182, 16740.5018515 ,  8561.27433274, 46459.49251756,
        7744.5667195 , 11667.58187984, 12056.17275934, 13850.99684173,
       16323.17147406, 10706.0969612 , 37735.51360586, 17980.70560406,
       19366.24721424,  9725.1672288 ,  2559.44879875,  5158.2479295 ,
        4466.25796001, 12653.7984974 , 12000.81868528,  8181.9023878 ,
        8643.82954457, 12810.5877492 , 22230.64425593,  3881.31717252,
       44042.58090269,  8406.26588942, 11868.10661542,  2641.99496689,
        2632.27539235,  9950.94270334,  4255.02572035, 16286.81646306,
        7130.99835732,  5217.23255067, 11905.52814365, 40953.02315483,
        6330.88107555,  6284.04510626,  3786.44405296,  4395.07909197,
       12926.83699881,  6876.14008099, 11527.67566137,  4134.9786663 ,
       12312.71002037,  6739.32188456, 21620.401584  , 10758.34251769,
        9190.14538688,  7494.29265588,  4307.02312907, 16140.80130866,
       33877.8209067 , 12346.86099029,  3197.29350138,  2266.47687294,
        9731.28311477,  2389.00710467, 24424.4817053 ,  8196.09232975,
        8319.34581612, 11961.49743602, 15191.26060697,  4744.41192018,
        8809.5936361 , 11530.73590577, 13790.5423699 , 13486.89971917,
       29300.41118192, 12673.86287854, 16939.03542476, 12181.73510345,
        1928.39036419,  5504.26627295,  4968.89065964,  4344.99972578,
       48222.77538879, 16949.8203229 ,  5629.48755166, 48221.40120508,
        9436.17892919,  8597.272615  ,  2468.85713375,  7791.16061692,
       16995.1162867 , 41879.23106669, 11440.70905806,  6967.25814625,
        1693.45266732, 38553.73072957, 15181.22253105, 16602.71616737,
       15119.86461535,  7536.32208888,  8149.76232504,  9338.80893439,
        3149.18936929, 40957.70818407, 11812.21925568,  6500.54636094,
        9715.23290223,  5106.72741434, 40363.37839457,  3917.49968961,
       14059.07644755,  4995.06813331, 14154.98891192, 13373.77909725,
       40123.91902244,  8433.20235268,  9656.29897529, 20454.41177511,
        3889.91803762,  2618.6782039 , 34437.96628268, 13904.66019993,
       10082.77039705, 22273.43591771, 20349.51618995, 20979.98563698,
       13961.92722366, 15766.7623415 ,  6670.54493796, 13983.9103841 ,
        3692.19178439, 40688.48277981, 11270.78801066, 15791.91239194,
       21811.93119821, 11533.74227523,  2641.45946515, 11350.67114518,
       47335.97616959,  6885.01356343,  8376.83739458,  6167.26373405,
        7359.8265236 , 14187.58958621,  6065.79501749, 48220.34454486,
        7172.7322236 ,  3898.23729668, 34879.10910106,  5124.71657138,
       35676.03222588, 18321.31956134,  8828.11106889, 10829.4008244 ,
       14240.86259093, 16120.48935236,  4386.8538465 ,  3555.47100913,
       38502.6025792 ,  7246.43935816, 28696.65795989,  8361.45726765,
       39976.22711214,  2266.47687294,  7276.36426566, 13274.59048689,
        5940.605532  , 14492.68474852,  8054.68274632,  8247.22375557,
        2745.25978687,  7977.2038628 , 24289.70152778, 46671.92293972,
       13680.20029491,  3321.4077217 ,  6524.8865117 , 11931.76867593,
       13644.35442644, 35956.06245475,  7702.74359973,  3018.76029661,
        7740.77719723, 36487.36861631, 39331.88065415,  7878.88206961,
        8376.66919173, 11611.53765595,  7535.27359387,  6269.28105587,
       11851.25293736,  5753.91459127, 38601.39972125, 13993.31500774,
       13973.15800516,  6257.28289153,  5153.08889808, 18234.54188788,
       14767.26053452, 14868.54225448,  4959.22595764,  3891.79872378,
       14358.72379366, 46973.84738242,  5317.68807434, 11117.64112985,
        6624.47806926,  9418.92364235,  3740.15783742,  8523.25027462,
       22035.88450906, 10197.53146032,  6809.21485975, 13484.08803251,
        7652.52448941,  5462.26368775,  7239.5327996 ,  9823.11345221,
        8344.18969039,  3070.95247609,  6969.10469779,  6999.83327705,
       11775.12522328,  7754.93904446,  4055.56187718, 11912.58370679,
        7080.99562682, 42277.07974637,  9545.14126023, 14389.18489895,
        6629.11479746,  3881.98549342, 12686.80481832, 18782.61731167,
        3929.65301861,  7780.25255092,  3553.7945582 , 20667.61811563,
       11792.56370803, 23866.28489012,  3374.43838551, 35938.10863551,
        3220.90296168, 34737.74114855, 11321.1818549 , 23581.14459817,
       14474.0865097 ,  8795.19233568,  8100.87140836,  2542.01090238,
       16668.65209158, 13821.961709  , 10858.03632957,  6938.37410497,
        2413.38607948,  6799.95032963,  3457.50965861,  4802.00130287,
        5532.40022231, 38341.33064408, 13376.7906534 , 13695.29917916,
       22097.09320365, 17395.93154408,  5263.54813568, 11216.29515991,
       14375.74549496, 11741.60847597])

In [34]:
from sklearn.metrics import mean_squared_error,r2_score

In [35]:
mean_squared_error(y_test,pre)

20582150.551227205

In [36]:
r2_score(y_test,pre)

0.8500967230162468

In [37]:
np.sqrt(mean_squared_error(y_test,pre))

4536.755509306977

In [38]:
joblib.dump(regressor,"regressor.pkl")

['regressor.pkl']

In [39]:
check = df.copy()

In [40]:
check=check.head(1)
check

      sex smoker     region  age   bmi  children    charges
0  female    yes  southwest   19  27.9         0  16884.924

In [41]:
check.drop("charges",axis=1,inplace=True)

In [42]:
check

      sex smoker     region  age   bmi  children
0  female    yes  southwest   19  27.9         0

In [43]:
one_hot = joblib.load("OneHotee.joblib")
one_hot

OneHotEncoder(handle_unknown='ignore', sparse=False)

In [44]:
l=one_hot.transform(check.iloc[:,:3])
l

array([[1., 0., 0., 1., 0., 0., 0., 1.]])

In [45]:
c = one_hot.get_feature_names_out()

In [46]:
c

array(['sex_female', 'sex_male', 'smoker_no', 'smoker_yes',
       'region_northeast', 'region_northwest', 'region_southeast',
       'region_southwest'], dtype=object)

In [47]:
t = pd.DataFrame(l,columns=c)
t

,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [48]:
l2 = check.iloc[:,3:]

In [49]:
l2

   age   bmi  children
0   19  27.9         0

In [50]:
final = pd.concat([l2,t],axis=1)
final

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.9,0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [51]:
final_model = joblib.load("regressor.pkl")
final_model

RandomForestRegressor(max_depth=8, max_features='auto')

In [52]:
final_model.predict(final)

array([17077.24102149])